
@using Edunext_Model.DTOs.Product;
@model ProductGet;

<!-- Modal -->
<div class="modal fade" id="@("Modal" + @Model.Id)" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Product Information
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="@Model.ImageUrl" alt="@Model.Name" width="200" class="img-thumbnail" />
                    </div>
                    <div>
                        <p>Code: <b class="text-uppercase">@Model.Code</b></p>
                        <p>Name: @Model.Name</p>
                        <p>Price: $ @Model.Price</p>
                    </div>

                </div>

                <p>Descriptions: @Model.Description</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
